{% extends 'SRMapp/base.html' %}

{% block content %}
<div class="panel panel-default">    
    <div class="panel-heading">
        <h4>Suppliers</h4>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Supplier</th>
                    <th>Price grade</th>
                    <th>Quality grade</th>
                    <th>Delivery time grade</th>
                </tr>
            </thead>
            
            {% for supplier in supplier_list %}
            <tr>
                <td>{{ supplier.name }}</td>
                <td><div class="review-stars-100-wrapper"><span class="review-stars rate-{{ supplier.surv_price }}"> </span></div></td>
                <td><div class="review-stars-100-wrapper"><span class="review-stars rate-{{ supplier.surv_quality }}"> </span></div></td>
                <td><div class="review-stars-100-wrapper"><span class="review-stars rate-{{ supplier.surv_delivery_time }}"> </span></div></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}